@import url("https://fonts.googleapis.com/css2?family=Supreme:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  padding: 3px;
  border: 2px solid #e5e548;
  border-radius: 50%;
  opacity: 1 !important;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  background-color: #e5e548 !important;
}
